<body overflow="hidden">
     <img class="wave" src="/recursos/images/wave.png">
     <a class="direction" href="/Index"><img src="/recursos/icons/arrow-left.svg"></a>
	<div class="container">
		<div class="img">
			<img src="/recursos/images/Virus-cuate.png">
		</div>
		<div class="login-content index">
			<div class="boxes">
                <div class="box cameras" id="menu">
                    <div> <a href="/registrar"><img src="/recursos/icons/user-plus.svg"></a></div>
                    <h3> Crear Usuario </h3>
                </div>
                <div class="box Historial" id="menu">
                    <div><a href="UserList"> <img src="/recursos/icons/list.svg"></a></div>
                    <h3> Lista de Usuarios </h3>
                </div>
                <div class="box Galerias" id="menu">
                    <div><a href="/"> <img src="/recursos/icons/log-out.svg"></a></div>
                    <h3> Cerrar Sesión </h3>
                </div>
            </div>
        </div>
    </div>
</body>